* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
#menu_superior {
  background-image: url(assets/bg-menusuperior.svg);
  color: #ffffff;
  height: 470px;
}
#icon_dnc {
  margin: 52px 0 0 56px;
}

#titulo_menusuperior {
  margin-top: 50px;
  margin-left: 150px;
}
#paragrafo_menusuperior {
  margin-top: 50px;
  margin-left: 150px;
}

#menu_informativo {
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.icone {
  margin: 50px 0px 50px 100px;
  padding: 10px;
}

.paragrafo_menuinformativo {
  display: flex;
  align-items: center;
}

#secao_video {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}
#video {
  margin: 50px 25px 50px 100px;
}
#texto_video {
  margin-top: 50px;
}
#titulo_video {
  color: #247ba0;
}

#carrossel {
  background-color: #247ba0;
  color: white;
  padding: 50px;
}
#titulo_carrossel {
  text-align: center;
  padding-bottom: 50px;
  font-size: 25px;
}
#div_cards {
  margin-top: 25px;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}

.card {
  margin-left: 50px;
}

#bruna {
  display: none;
}
#seta-esquerda {
  display: none;
}

.seta {
  margin-top: 55%;
  cursor: pointer;
}
.seta:hover {
  transform: translateY(-5px); /*Transação*/
  transition-duration: 0.3s; /*Duração*/
}
#secao_formulario {
  padding: 50px;
  text-align: center;
}
#secao_formulario h1 {
  margin-bottom: 25px;
  font-size: 25px;
}
#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formulario input {
  width: 400px;
  height: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #EAECE5;
  color: #383838;
  border: none;
  border-radius: 8px;
  padding-left: 5px;
}
#formulario button {
  background-color: #247ba0;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 335px;
  height: 53px;
  margin-top: 25px;
}
